<!DOCTYPE html>
<html ng-app="organ-don-app" ng-controller="myCtrl">
<head>
<title>Organ Aide</title>

<script
	src="/js/angular.min.js"></script>
<script src="/js/angular-cookies.js"></script>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container">
		<br></br>
		Id: {{user._id}}<br/>
			Name: {{user.name}}
			<br>
		<h3 id="demo">Add organ</h3>
		<form role="form" action="/saveOrgan" >
			<input type="hidden" value={{a}} name="role"></input>
			<input type="hidden" value={{user.email}} name="idd"></input>
			<input type="hidden" value={{user.name}} name="name"></input>
			<input type="hidden" value={{user.cno}} name="cno"></input>
			
			<div class="form-group">
				<label for="organ">Choose..</label> <select class="form-control" id="organ" name="organ">
				<option value="1">Blood</option>
				<option value="2">Pancreas</option>
				<option value="3">Intestine</option>
				<option value="4">Lungs</option>
				</select>
			</div>
			<div class="form-group">
				<label for="bg">Blood Group</label> <select class="form-control" id="bg" name="bg">
				<option value="1">O+</option>
				<option value="2">O-</option>
				<option value="3">A+</option>
				<option value="4">A-</option>
				<option value="5">B+</option>
				<option value="6">B-</option>
				<option value="7">AB+</option>
				<option value="8">AB-</option>
				</select>
			</div>
			<div class="form-group" ng-show="hosp">
				<label for="unit">Units:</label> <input type="tel"
					class="form-control" id="unit" name="units"placeholder="Units">
			</div>
			
			
			<input type="submit" class="form-control" ></input>



		</form>


	</div>
	<script>
		var app = angular.module("organ-don-app", ['ngCookies']);
		app.controller("myCtrl",['$scope','$http','$cookies', function($scope,$http,$cookies) {
		$scope.a=$cookies.get("role");
		if($scope.a==1)
		{$scope.hosp=true;
		$http.get("/getHosp?email=" + $cookies.get("user")).then(
								function(response) {
									$scope.user = response.data;
								});
		}
		else
		{$scope.hosp=false;
		$http.get("/getDonor?email=" + $cookies.get("user")).then(
								function(response) {
									$scope.user = response.data;
								});
		}
		
		
		
		}]);
	</script>
</body>
</html>

