<!DOCTYPE html>
<html ng-app="organ-don-app" ng-controller="myCtrl">
<head>
<title>Organ Aide</title>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container">
		<br></br>
		<h3 id="demo">Donor Registration</h3>
		<form role="form" action="/saveDonor">
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					class="form-control" id="name" name="name"placeholder="Name">
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="Address">Address:</label> <input type="text"
					class="form-control" id="address" name="add"placeholder="Address Include city,state,pincode" ng-model="address">
				</div>
			<div class="form-group">
				<label for="cno">Contact No.:</label> <input type="tel"
					class="form-control" id="cno" name="cno"placeholder="Contact No.">
			</div>
			<div class="form-group">
				<label for="pass">Password:</label> <input type="password"
					class="form-control" id="pass" name="pass"placeholder="Password">
			</div>
			<input type="submit" class="form-control" ng-click="latlong()"></input>



		</form>


	</div>
	<script>
		var app = angular.module("organ-don-app", []);
		app.controller("myCtrl", function($scope,$http) {
		$scope.currentLocation=function(){if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position){
      $scope.$apply(function(){
        $scope.position = position;
		console.log(position);
		
		var geocoder = new google.maps.Geocoder();
		var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
		console.log(position.coords.latitude);
                    if (status == google.maps.GeocoderStatus.OK) {
					console.log(results);
                       
                            console.log(results[0].formatted_address);
                        
                    } else {
                        console.log('Geocoder failed due to: ' + status);
                    }
                });  
		
		
		
      });
    });
  }};
		});
	</script>
</body>
</html>

