<html>
<head>
<script src="/js/angular.min.js"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery-1.12.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular-reverse-geocode.js"></script>

<script src="/js/angular-cookies.js"></script>

<meta name="viewport"
	content="height=device-height,width=device-width, initial-scale=1">

</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	
<body style="height: 100%; width: 100%" ng-app="myApp"
	ng-controller="my" ng-swipe-left="a=a+1" ng-init="loadUser()">
	<div class="container">
		Id: {{user._id}}<br/>
		Name: {{user.name}}<br /> Email: {{user.email}}<br /> Contact No.:
		{{user.cno}} <br />
Lat: {{user.lat}}<br/>
		Long:{{user.longg}}
		</div>
<button ng-click="addOrgan()" >Add Organ</button>
		<button ng-click="logout()">Logout</button>
	<script>
		var app = angular.module("myApp", [ 'ngCookies' ]);
		app.controller("my", [
				'$scope',
				'$cookies',
				'$http',
				'$window',
				function($scope, $cookies, $http, $window) {
					$scope.loadUser = function() {
						$scope.email = $cookies.get("user");
						if ($scope.email == null) {
							$window.location.href = '/login';
						}
						$http.get("/getDonor?email=" + $scope.email).then(
								function(response) {
									$scope.user = response.data;
								});

					};
					
					$scope.addOrgan=function(){
					
					$window.location.href="/addOrgan";
					
					};

					$scope.logout = function() {
						$cookies.remove("user",{ path: '/' });
						$cookies.remove("role",{ path: '/' });
						$window.location.href = '/login';

					};
				} ]);
	</script>
</body>

</html>