<html ng-app="organ-don-app" ng-controller="myCtrl">
<head>
<title>Organ Donation</title>
<script
	src="/js/angular.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<script
	src="/js/jquery-1.12.1.min.js"></script>
<script
	src="/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	
	<div class="container">
		<center>
			<div class="row">
				<div style="padding: 5%" class="col-md-4 col-xs-12" ng-click="open(1)">
					    <li class="list-group-item" ng-click="open(1)">Hospital</li>

				</div>
				<div style="padding: 5%" class="col-md-4 col-xs-12" ng-click="open(2)">
					<li class="list-group-item" >Donor</li>

				</div>
				<div style="padding: 5%" class="col-md-4 col-xs-12" ng-click="open(3)">
					<li class="list-group-item" >Patient</li>

				</div>
			</div>
		</center>
	</div>
	<script>
		var app = angular.module("organ-don-app", []);
		app.controller("myCtrl", function($scope,$window) {
		$scope.open=function(a){if(a==1){
		$window.location.href = '/hospital_reg';
		}
		if(a==2){
		$window.location.href = '/donor_reg';
		}
		if(a==3){
		$window.location.href = '/patient_req';
		}
		};
		});
	</script>
</body>
</html>
