<html ng-app="login-app" ng-controller="myCtrl">
<head>
<title>Organ Donation</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
			<script src="/js/angular-cookies.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container">
		<br></br>
		<h3>Login</h3>
		<form role="form">
			<div class="form-group">
				<label for="email">Email:</label> <input type="text"
					class="form-control" name="email" id="email"placeholder="Email" ng-model="email">
			</div>
						<span ng-show="!wrongPass" style="color:red">Check username and password</span>

			<div class="form-group">
				<label for="pass">Password:</label> <input type="password"
					class="form-control" name="pass" id="pass"placeholder="Password"ng-model="pass">
			</div>
			 <div class="radio">
				<label><input required type="radio" name="role" ng-model="role"value=1>As Hospital</label>
				<label><input required type="radio" name="role" ng-model="role"value=2>As Donor</label>
			</div>
			<input type="submit"
					class="form-control" ng-click="checkUser(email,pass,role)" >
			
	

</form>
<script>
var app=angular.module('login-app',['ngCookies']);

	app.controller("myCtrl",['$scope','$http','$window','$cookies',function($scope,$http,$window,$cookies){
	if(($cookies.get("user")!=null)&&($cookies.get("role")!=null)){	
	$window.location.href = '/profile/:'+$cookies.get("role");
}
	$scope.wrongPass=true;
	$scope.checkUser=function(email,pass,role){
	$http.get("/checkUser?email="+email+"&&pass="+pass+"&&role="+role).then(function(response) {
					$scope.wrongPass= response.data.valid;
					if($scope.wrongPass){
					$window.location.href = '/profile/:'+role;
					$cookies.put("user",$scope.email);
					$cookies.put("role",$scope.role);
					
						}
				});
	
	};
	
	}]);
	
</script>
</body>
</html>