<html ng-app="organ-don-app" ng-controller="myCtrl">
<head>
<title>Organ Aide</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<meta charset="utf-8">
<script src="/js/angular-cookies.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="/js/appp.js"></script>

<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container">
		<br></br>
		<h3>Request for Organ</h3>
		<form role="form" >
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					class="form-control" id="name" name="name"placeholder="Name">
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email"placeholder="Email">
			</div>
			<div class="form-group">
				<label for="address">Address:</label> <input type="text"
					class="form-control" id="address" name="add"ng-model="add" placeholder="Address">
			</div>
			<div class="form-group">
				<label for="organ">Choose..</label> <select class="form-control" id="organ" ng-model="organ" name="organ">
				<option value="1">Blood</option>
				<option value="2">Pancreas</option>
				<option value="3">Intestine</option>
				<option value="4">Lungs</option>
				</select>
			</div>
			<div class="form-group">
				<label for="bg">Blood Group</label> <select class="form-control" id="bg" ng-model="bg" name="bg">
				<option value="1">O+</option>
				<option value="2">O-</option>
				<option value="3">A+</option>
				<option value="4">A-</option>
				<option value="5">B+</option>
				<option value="6">B-</option>
				<option value="7">AB+</option>
				<option value="8">AB-</option>
				</select>
			</div>
			<div class="form-group">
				<label for="cno">Contact No.:</label> <input type="tel"
					class="form-control" id="cno" name="cno" ng-model="cno"placeholder="Contact No.">
			</div>
			<div class="form-group">
				<label for="bg">Search In </label> <select class="form-control" id="user" ng-model="user" name="user">
				<option value="2">Donors</option>
				<option value="1">Hospitals</option>
				</select>
			</div>
			
						<input ng-click="send()" class="form-control"type="submit"></input>
	


		</form>

	</div>
	<script>
		
	</script>
</body>
</html>
