<html ng-app="organ-don-app" ng-controller="myCtrl2">
<head>
<title>Organ Aide</title>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="/js/angular-cookies.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		    <script src="/js/appp.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-init="load()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Organ Aide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div class="container">
		<br></br>
		<h3>Result</h3>
		
<ul class="list-group">
<li class="list-group-item"ng-repeat="x in result | orderBy : 'distance'">
<div class="row">
<div class="col-md-3 col-xs-12 col-sm-3">
{{x.name}}
</div>
<div class="col-md-3 col-xs-12 col-sm-3">
{{x.cno}}
</div>
<div class=" col-sm-3 col-md-3 col-xs-12">
{{x.email}}
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
{{x.distance}} Km
</div>

</div>
</li>
</ul>

</div>
	</div>
	
</body>
</html>
